.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form > div {
  display: flex;
}

.link {
  display: flex;
  align-self: baseline;
  cursor: pointer;
  align-self: center;
  margin: 0 auto;
}
