.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.doors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: stretch;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.buttons button {
  background-color: #c0392c;
  border: none;
  color: #fff;
  font-size: 2rem;
  border-radius: 5%;
  padding: 10px 25px;
  cursor: pointer;
}
